<head>
    <link rel="stylesheet" href="/css/style.css">
</head>


<section class="about">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">W</span>elcome
        </h2>
        <h1 class="headline">About Us</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;">
            </path>
        </svg>
    </div>
</section>


<section class="contenedor sobre-nosostros">
    <h2 class="titulo">Our Mision and Vision</h2>
    <div class="contenedor-sobre-nosotros">
        <img src="img/about-us/mision.jpg" alt="" class="imagen-about-us">
        <div class="contenido-textos">
            <h3><span>1</span>Our Mision</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, iure! Possimus aspernatur quod
                corporis voluptas consequuntur nulla voluptatum assumenda nisi dolores? Qui voluptates, numquam
                doloribus dolore odit voluptatibus delectus quasi?
            </p>
            <h3><span>2</span>Our Vision</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus, iure! Possimus aspernatur quod
                corporis voluptas consequuntur nulla voluptatum assumenda nisi dolores? Qui voluptates, numquam
                doloribus dolore odit voluptatibus delectus quasi?
            </p>
        </div>
    </div>
</section>