<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<!--Side-nav-->
<div id="sidenav">
    <a href="#" class="add" id="facebook">Facebook <i class="fab fa-facebook"></i></a>
    <a href="#" class="add" id="twitter">Twitter <i class="fab fa-twitter"></i></a>
    <a href="#" class="add" id="instagram">Instagram <i class="fab fa-instagram"></i></a>
</div>
<!--Section title-->
<section class="hero">
    <div class="container">
        <h2 class="sub-headline">
            <span class="first-letter">W</span>elcome
        </h2>
        <h1 class="headline">Sing and learn</h1>
        <div class="headline-description">
            <div class="separator">
                <div class="line line-left"></div>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <div class="line line-right"></div>
            </div>
            <div class="single-animation">
                <a href="#" class="btn cta-btn">Explore</a>
            </div>
        </div>
    </div>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg>
    </div>
</section>

<section class="doctors contenedor">
    <div class="contenedor-doctors">
        <div class="text-doctor">
            <h1>What the doctors think?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis ad quis numquam accusantium.</p>
            <a href="#">Read more</a>
        </div>
        <img src="/img/index/doctors.jpg" alt="">
    </div>
</section>

<section class="sing contenedor">
    <div class="contenedor-sing">
        <img src="/img/index/sing.jpg" alt="">
        <section class="text-sing">
            <h1>You do what you like the most</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis ad quis numquam accusantium.</p>
            <a href="#">Read more</a>
        </section>
    </div>
</section>

<section class="ideas contenedor">
    <div class="contenedor-ideas">
        <section class="text-ideas">
            <h1>Your creativity expands</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis ad quis numquam accusantium.</p>
            <a href="#">Read more</a>
        </section>
        <img src="/img/index/ideas.jpg" alt="">
    </div>
</section>

<section class="oprtunities contenedor">
    <div class="contenedor-oprtunities">
        <img src="/img/index/tercerailustracion.svg" alt="">
        <section class="text-oprtunities">
            <h1>Your opportunities grow much more</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis ad quis numquam accusantium.</p>
            <a href="#">Read more</a>
        </section>
    </div>
</section>
<!--Section Content-->