<head>
    <link rel="stylesheet" href="/css/loader.css">
</head>


<body class="body"> 
    <div class="loading" id="load">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>