<head>
    <link rel="stylesheet" href="/css/style.css">
</head>


{{#if users}}

{{else}}
<div id="sidenav">
    <a href="#" class="add" id="facebook">Facebook <i class="fab fa-facebook"></i></a>
    <a href="#" class="add" id="twitter">Twitter <i class="fab fa-twitter"></i></a>
    <a href="#" class="add" id="instagram">Instagram <i class="fab fa-instagram"></i></a>
</div>
{{/if}}
